<div class="header">
    <div class="header-left">
        <div class="menu-icon dw dw-menu"></div>
        <h1 style="font-family: 'Niconne', cursive; margin-left: 20px; margin-top: 5px; font-size: 35px;">CertifyHub</h1>
    </div>
    <div class="header-right">
        
        <div class="user-info-dropdown" style="margin: 12px 25px 0px 0px;">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                    
                    <span class="user-name"><span class="micon dw dw-user" style="font-size: 30px;"></span></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                   
                    <a class="dropdown-item" routerLink="/admin/AdminProfile"><i class="dw dw-user1"></i> Profile</a>
                    <a class="dropdown-item" (click)="LogOut()"><i class="dw dw-logout"></i> Log Out</a>
                </div>
            </div>
        </div>
        <div class="github-link">
            <a href="https://github.com/dropways/deskapp" target="_blank"><img src="vendors/images/github.svg" alt=""></a>
        </div>
    </div>
</div>
