<app-instructor-header></app-instructor-header>
<app-instructor-sidebar></app-instructor-sidebar>


<div class="main-container">
    <div class="row">
        <div class="job-card">
            <div class="job-title-section">
            <h2 class="job-title">Courses Management Hub</h2>
        </div>
    </div>
    <div class="row">
        <mat-card class="course-card col-4" *ngFor="let section of _instructorService.instructorSections">
            <img [src]="getSectionImagePath(section)" [alt]="getAltText(section)" style="width: cover !important; height: 320px !important; padding: 25px 0px 25px 0px;" mat-card-image alt="C#" />
            <mat-card-content>
            <mat-progress-bar mode="determinate"></mat-progress-bar>
            <div class="row names">
                <span class="name">{{section.course.coursename}} {{section.sectionname}}</span>
            </div>
            <div class="row">
                <button mat-button  (click)="ViewSection(section.sectionid)" >View Section</button>
            </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>


